@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Gilroy-Regular.woff2') format('woff2');
    src: url('../fonts/Gilroy-Regular.woff') format('woff');
    }

@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 250;
    font-display: swap;
    src: url('../fonts/Gilroy-UltraLight.woff2') format('woff2');
    src: url('../fonts/Gilroy-UltraLight.woff') format('woff');
        }

@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url('../fonts/Gilroy-Bold.woff2') format('woff2');
    src: url('../fonts/Gilroy-Bold.woff') format('woff');
        }

body {
    font-family: 'Gilroy', serif;
    width: 1366px;
    background-color: #F6F6F6;
}

h1 {
    font-weight: bold;
    font-size: 72px;
    color: #242424;
    margin: 91px 487px 2px 110px;

    display: flex;
    justify-content: flex-start;
    flex-basis: 659px;
}

.header {
    height: 49px;
}

.header__content-nav {
    margin: 54px 28px 91px 110px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav__item {
    list-style-type: none;
    margin-left: 32px;
}

.nav-left {
    display: flex;
    justify-content: flex-start;
}

.nav-center {
    display: flex;
    justify-content: center;
}

.nav-right {
    display: flex;
    justify-content: flex-end;

}

.nav__link {
    text-decoration: none;
    color: #242424;
}
