@media screen and (max-width: 1100px) {
  .header {
    flex-basis: 100%;
    margin: 0 auto;
    padding-left: 70px;
  }

  .nav__item {
    flex-wrap: wrap;
    padding: 0;
    text-align: center;
  }

  .header-content__btn {
    flex-basis: 20%;
    margin-right: 70px;
  } 

  .find-gift__title {
    font-size: 50px;
    color: white;
    text-align: left;
    }

  .find-gift__content {
    width: 30%;
    padding: 50px;
    align-items: flex-start;
    text-align: left;
  }

  .find-gift__background {
    width: 70%;
    z-index: -1;
  }

  .card-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .registration {
    flex-wrap: wrap;
  }

  .registration__content {
    flex-basis: 100%;
    order: 1;
    text-align: center;
}

.registration__buttons {
    flex-basis: 50%;
    margin: 0 auto;
  }
  }
@media screen and (max-width: 480px) {
  .header {
    margin: 0 auto;
    padding-left: 0;
    justify-content: center;
  }

  .header-content__logo {
    display: none;
  }

  .nav {
    display: flex;
    flex-direction: column;
  }

  .nav__item {
    flex-wrap: wrap;
    padding: 0;
    text-align: center;
  }

  .header-content__btn {
    flex-basis: 10%;
    margin-right: 10px;

  } 

  .find-gift__title {
      font-size: 40px;
      color: white;
      text-align: center;
      }

  .find-gift__content {
    width: 100%;
    padding: 20px;
    color: blanchedalmond;
    text-align: center;
    align-items: center;
    background-image: url('../img/Background.jpg');
    max-width: 480px;
    }

    .find-gift__background {
      display: none;
    }

   .card-list {
     grid-template-columns: 1fr;
   }

   .footer-navigation {
     display: none;
   }
}