@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Gilroy-Regular.woff2') format('woff2');
    src: url('../fonts/Gilroy-Regular.woff') format('woff');
    }

@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 250;
    font-display: swap;
    src: url('../fonts/Gilroy-UltraLight.woff2') format('woff2');
    src: url('../fonts/Gilroy-UltraLight.woff') format('woff');
        }

@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url('../fonts/Gilroy-Bold.woff2') format('woff2');
    src: url('../fonts/Gilroy-Bold.woff') format('woff');
        }

body {
    font-family: 'Gilroy', serif;
}

.card {
    display: block;
}
.card--highlighted {
    background: pink;
}
.card__title {
    font-size: 20px;
}