@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Gilroy-Regular.woff2') format('woff2');
    src: url('../fonts/Gilroy-Regular.woff') format('woff');
    }

@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 250;
    font-display: swap;
    src: url('../fonts/Gilroy-UltraLight.woff2') format('woff2');
    src: url('../fonts/Gilroy-UltraLight.woff') format('woff');
        }

@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url('../fonts/Gilroy-Bold.woff2') format('woff2');
    src: url('../fonts/Gilroy-Bold.woff') format('woff');
        }
html {
    box-sizing: border-box;
}
*, *::after, *::before {
    box-sizing: inherit;
}

body {
    font-family: 'Gilroy', serif;
    font-size: 20px;

    background: grey;
    max-width: 1440px;
    margin: 0 auto !important;
    }

.header {
    background: #fafafa;
}

h1,
.find-gift h2 {
    display: none;
}

ul {
    list-style-type: none;
}

.header__content {
    margin: 0 auto;
}

.header-content__btn {
    display: inline-block;
	padding: 0 13px;
	outline: none;
	border: 1px solid #F7941E;
    box-sizing: border-box;
    border-radius: 5px;
	height: 43px;
    width: 222px;
	line-height: 21px;
	font-size: 18px;
	font-weight: normal;
	text-decoration: none;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
	color: #F7941E;
	background-color: #fafafa;
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation; 
}

.content {
    max-width: 1400px;
    margin: 0 20px;
    padding: 0 20px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 135px;
}

.header-content__logo {
    flex-basis: 139px;
}

.nav {
    display: flex;
    list-style-type: none;
}

.nav__item{
    margin: 0 10px;
}

.nav__link {
    color: black;
    text-decoration: none;
}

.find-gift {
    background: #f1f1f2 url('../img/Background.jpg') right top no-repeat;
    padding-left: 135px;
}

.find-gift__title {
    font-weight: 250;
    font-size: 56px;
    line-height: 64.23px;
    margin: 0;
    width: 470px;
}

.find-gift__content {
    width: 50%;
    padding: 50px 50px 50px 0;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.find-gift__text {
    margin-bottom: 40px;
    margin-top: 40px;
}

.find-gift__btn {
    display: inline-block;	
	box-sizing: border-box;
	padding: 0 13px;
	margin: 0 15px 15px 0;
	outline: none;
	border: 1px solid #F7941E;  
	border-radius: 5px;
	height: 60px;
    width: 200px;
	line-height: 21px;
	font-size: 18px;
	font-weight: normal;
	text-decoration: none;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
	color: #fff;
	background-color: #F7941E;
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation; 
}

.about-working {
    background: #F1F1F2 url('../img/Thanks.jpg') left top no-repeat;
}
.about-working__content {
    width: 50%;
    padding: 50px 50px 50px 0;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.card-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    
}

img {
    max-width: 100%;
    height: auto;
}

.registration {
    display: flex; 
    align-items: center;
    padding: 58px 0;
    background-color: #F7941E;
    margin: 20px;
}
.registration__content {
    flex-basis: 50%;
    text-align: center;
}

.registration__buttons {
    flex-basis: 50%;
    text-align: center;
}

